table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid;
}
td { 
  text-align: center;
  border: 1px solid;
  width: 30px;
  height: 30px;
}
tr:nth-child(3n+4) {
  border-top: 5px solid;
}
td:nth-child(3n+4) {
  border-left: 5px solid;
}
td.controls {
	border: 5px solid;
	border-collapse: inherit;
}
td.number {
  background-color: gray;
}
td.noNumber {
	cursor: pointer;
	cursor: hand;
}
.sudokuDescribe {
  text-align:center;
  position:absolute;
  bottom:0;
  width: 99%;
}
