html {
	background-color:#fafafa;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	font-family: "Open Sans", Helvetica, sans-serif;
	padding:0 0 0 0;
	margin:0 0 0 0;
}
.pagewrapper {
	width:100%;
}
.header {
	color:white;
	font-weight:bold;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
	background: url(res/header1.jpg) no-repeat scroll top;
	background-size: 1600px auto;
	line-height:245px;
	padding-left:10%;
	display:block;
	text-decoration:none;
	font-size: 60px;
}
@media only screen and (max-width:800px) {
	.header{font-size:40px;	text-align:center; padding-left:0px;} /* !TODO: clean up media queries */
}
.menubar {
	box-shadow: 0px 1px 2px 1px #888888;
}
.menubar, .menulinks {
	background-color:#f1e8cd;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-decoration:none;
}
.menutext {
	display:none; /* !TODO: Media queries and JS */
}
.menuelements {
	padding: 0px 10% 0px;
}
.menulinks {
	display: inline-block;
	padding: 15px 20px;
	color:	#141412;
}
.menulinks:hover {
	background-color: #141412;
	color:white;
}
.menulinks:active {
	background-color: #990000;
}
.content {
	padding-top:15px;
	width:85%;
	margin:auto;
	max-width:650px;
	color:#444;
}
.footer { /* !TODO: Nicer footer, logo, jump to top button */
}
.logo {
	width:100px;
	margin:auto;
}
h1,h2,h3 {
  line-height:1.2
}
.paragraph {
	line-height:1.4;
	font-size: 17px;
}
.paragraphLinkx:link{
	color:#0077aa;
}
.paragraphLinks:visited {
	color:#0077aa;
}
.paragraphLinks:hover {
	text-decoration:none;
}
.paragraphLinks:active {
	color:#990000;
}