.wrapper {
  max-width: 100%;
  margin: 0 auto;
}
.logo {
	width:100px;
	margin:auto;
}
html {
  background-color:#fafafa
}
body {
  font-family: 'Open Sans', sans-serif;
  line-height:1.4;
  font-size:16px;
  color:#444;
  padding:0 0px
}
footer {
	width:90%;
	height:110px;
	bottom:0;
}
nav{
  margin:2rem auto;
}
nav.navtext{
  line-height:3
}
h1,h2,h3 {
  line-height:1.2
}
p.links {
  margin-top:7px;
  margin-bottom:0px;
  margin-left:20px
}

/* Tiny screens by default */
/*@media screen and (max-width: 801px) {*/

  .wrapper {
    max-width: 90%;
  }
  nav,section{
	margin-right:0%;
	margin-left:0%
  }

/* Big 'ol screens */
@media (max-resolution: 2dppx) and (min-width: 801px) {
  .wrapper {
    max-width: 99%;
  }
    
  nav, section {
    float: left;
  }

  nav {
    width: 21%;
	margin-left:5%;
    margin-right: 4%;
  }

  section {
    width: 66%;
	margin-right: 4%;
  }
  footer {
	display:block;
	position:absolute;
	bottom:0;

}
/* Some tiny screens are special tiny screens */
@media only screen and (-webkit-min-device-pixel-ratio:1.3),
	   only screen and (-o-min-device-pixel-ratio:13/10),
	   only screen and (min-resolution:120dpi),
	   only screen and (max-width:800px) {
			.wrapper {
				max-width: 90%;
			}
			nav,section{
				width:90%;
				margin-right:0%;
				margin-left:0%
			}
			footer{
				display:block;
				position:fixed;
				bottom:0;
			}
}